@import "partial-variables";

a {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

a {
  @include links($font-xs, white);
}

h1 {
  @include title($font-large, white);
}

h2 {
  @include title($font-normal, white);
}

h3 {
  @include title($font-small, white);
}

p {
  @include text($font-normal, white);
}

ul {
  color: white;
}

li {
  @include liste($font-normal, white);
}

.buttons {
  @include size(35px, 35px);
  &--cross {
    @include size(20px, 20px);
    position: absolute;
    top: 3%;
  }
}

.icons--img {
  @include size(100%, 100%);
}

/* SCREENS */

.screen {
  @include size(100vw, 100vh);
  position: absolute;
  top: 0;
  transition: $transition-forward;
  /* IF BREAKS WITH SLIDE TRY TRANSFORM TRANSLATE X */
  &__welcome {
    @include blackground-image(
      "background_site_light.jpg",
      rgba($dark-green, 0.6)
    );
    background-blend-mode: overlay;
  }
  &__gallery {
    left: -100vw;
    background-color: $dark-green;
    #gallery {
      @include scroll-div(scroll, hidden, auto, 100vh);
      padding: 15vh 2vw 15vh 2vw;
    }
  }
  &__about {
    height: auto;
    left: 100vw;
    background-color: $mint-green;
    scroll-behavior: smooth;
  }

  //SIDES
  &__side {
    position: fixed;
    z-index: z(sides);
    top: 0;
    overflow-x: hidden;
    box-shadow: $box-shadow;
    transition: $transition-normal;
    &__filter {
      background-color: #689793;
      left: 0;
    }
    &__contact {
      right: 0;
      background-color: $black-green;
    }
    &--wrapper {
      transition: $transition-fast; // opacity text
      height: 100%;
      display: grid;
      &__contact {
        padding: 8vh 8vh 8vh 4vh;
        grid-template-rows: 1fr 8fr 8fr;
      }
      &__filter {
        padding: 8vh 0 8vh 8vh;
        grid-template-rows: 10fr 10fr 1fr 8fr;
      }
    }
  }
}

/* WELCOMING PAGE */

#logo-front {
  @include centered;
  @include size(400px, 300px);
}

/* NAV BARS */

.c-menu {
  @include size(100vw, 8vh);
  position: fixed;
  left: 0;
  z-index: z(menu);
  background-color: none;
  padding: 2% 0;
  &--top {
    top: 0;
    &__link {
      padding-top: 0.5rem;
    }
    &__link:hover {
      border-bottom: solid 1.3px white;
    }
  }
  &--bottom {
    bottom: 0;
    &__link {
      padding-bottom: 0.5rem;
    }
    &__link:hover {
      border-top: solid 1.3px white;
    }
  }
  &__link {
    @include size(100px, 25px);
    transition: $transition-fast;
    &--left {
      float: left;
      text-align: end;
    }
    &--right {
      float: right;
      text-align: start;
    }
  }
}

/* PROJECT PAGE */

.project-wrapper {
  position: relative;
  display: inline-block;
  object-fit: cover;
  margin: 0 2vw;
  box-shadow: $box-shadow;
  opacity: 1;
}

.project-img {
  width: auto;
  height: 70vh;
  border: $border;
  transition: all ease 0.3s;
  opacity: 1;
  filter: contrast(0.9);
  transition: all ease 1s;
}

.project-img:hover {
  transform: scale(1.03);
  filter: contrast(1);
}

#project-screen #gallery h2 {
  margin-left: 1.5rem;
  margin-bottom: 2.5rem;
  margin-top: 0;
  text-shadow: $text-shadow;
  line-height: 0em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 10;
}

/* LOADER */

.loader {
  @include centered;
  @include size(50px, 50px);
  border: 8px solid white;
  border-top: 8px solid $dark-green;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
  opacity: 0.7;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
